<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="籃球" (click)="onBasketClick()"></p-button>
    <p-button label="棒球" (click)="onBaseClick()"></p-button>
    <p-button label="足球" (click)="onSoccerClick()"></p-button>
    <p-button label="網球" (click)="onTennisClick()"></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <input type="text" pInputText >
    <p-button label="搜尋" ></p-button>
  </div>
</p-toolbar>
<app-sport-table></app-sport-table>
