<p-table [columns]="cols" [value]="dataService.sport" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>球種</th>
          <th>日期</th>
          <th>時間</th>
          <th>賽事</th>
          <th>隊伍(主場/客場)</th>
          <th>比分</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-columns>
    <tr>
        <td>{{ columns.balltype }}</td>
        <td>{{ columns.date }}</td>
        <td>{{ columns.time }}</td>
        <td>{{ columns.league }}</td>
        <td>{{ columns.team}}</td>
        <td>{{ columns.score }}</td>
    </tr>
</ng-template>
</p-table>
